@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

/* Formatações Gerais */
* {
  box-sizing: border-box;	
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
}
