@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Baloo+2&display=swap');

/* geral */
* {
  box-sizing: border-box;	
  font-family: 'Baloo 2', cursive;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas: "header" "article" "footer";
}


/* header logo e título */
.container {
  background-color: rgb(255,255,255);;
  display: flex;
  flex-direction: column;
  height: 240px;
  position: fixed; 
	z-index: 300;
  width: 100%;
}

.header-empty {
  height: 240px;
}

.container-header-main {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.text-title {
  color: rgb(91, 94, 100);
  font-weight: 900;
  text-align: center;
}

.text-title h1 {
  font-size: 350%;
}

/* header menus */

.container-header-menu {
  align-items: center;
  background-color: rgb(66,18,45);
  display: flex;
  justify-content: space-between;
}

.menu-navegacao-site {
  display: block;
  margin: 10px;
}

.menu-navegacao-site ul {
	list-style: none;
	text-transform: uppercase;
	position: relative;
}

.menu-navegacao-site li {
	display: inline-block;
	background-color: rgb(91, 94, 100);
	padding: 10px;
	margin: 2px;
	transition: 1s;
	font-size: 100%;
	font-weight: 500;
}

.menu-navegacao-site li:hover {
	background-color: rgb(114, 112, 112); 
}

.menu-navegacao-site a {
	color: rgb(255,255,255);
	text-decoration: none;
}	

.menu-navegacao-site a:hover {
	color: rgb(255,255,255); 
	text-decoration: underline;
}

/* article perfil */

.perfil-section {
  align-items: center;
  background-color: rgb(66,18,45);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.imagem-ana {
  width: 40%;
  padding-left: 100px;
}

.foto-ana {
  border-radius: 250px;
}

.descricao-ana { 
	background-color: rgb(255,255,255);
	color: rgb(66,18,45);
  font-size: 150%;
  margin: 50px;
  padding: 20px;
	text-align: center;
	width: 60%;
}

/* article objetivo */

.objetivo-section {
  align-items: center;
  background-color: rgb(91, 94, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.objetivo-atuacao {
  background-color: rgb(255,255,255);
  color: rgb(91, 94, 100);
  font-size: 150%;
  margin: 50px;
  padding: 20px;
  text-align: center;
  width: 80%;
}

/* article competências */
.skills-section {
  align-items: center;
  background-color: rgb(66,18,45);
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.skills-hard-soft {
  align-items: center;
  background-color: rgb(255,255,255);
  color: rgb(66,18,45);
  font-weight: 900;
  display: flex;
  font-size: 150%;
  justify-content: space-around;
  margin: 50px;
  padding: 20px;
  text-align: center;
  width: 80%;
}

/* article formação */
.formacao-section {
  align-items: center;
  background-color: rgb(91, 94, 100);
  display: flex;
  justify-content: center;
  width: 100%;
}

.formacao {
  background-color: rgb(255,255,255);
  color: rgb(91, 94, 100);
  font-size: 150%;
  margin: 50px;
  padding: 20px;
  text-align: center;
  width: 80%;
}

/* article footer */
.footer-section {
  align-items: center;
  background-color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  display: block;
  margin: 20px;
}

.footer ul {
	list-style: none;
  position: relative;
}

.footer li {
	display: inline-block;
  font-size: 200%;
  padding: 20px;
}

.footer a {
	color: rgb(66,18,45);
}	

.footer a:hover {
	color: rgb(91, 94, 100); 
}
